*.uistate.xml
*.autosave
The Last Mailman.capx.backup1
The Last Mailman.capx.backup2
The Last Mailman.capx.capx.backup1
The Last Mailman.capx.capx.backup2
The Last Mailman.capx.capx.capx.backup1
The Last Mailman.capx.capx.capx.backup2
